name: flatten
description: A new Flutter application.


version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # networking
  dio: # https://pub.dev/packages/dio

  # ui
  timeline_list: # https://pub.dev/packages/timeline_list+
  flutter_sticky_header: # https://pub.dev/packages/flutter_sticky_header
  line_awesome_icons:
  cupertino_icons:

  image:

  # util
  location: # https://pub.dev/packages/location
  rxdart: ^0.23.1
  qr_flutter: # https://pub.dev/packages/qr_flutter
  qr_code_scanner: # https://pub.dev/packages/qr_code_scanner

dev_dependencies:
  flutter_launcher_icons: # https://pub.dev/packages/flutter_launcher_icons
  intl_translation: # https://pub.dev/packages/intl_translation

flutter_icons:
  android: true
  ios: true
  image_path: "assets/icon/app_icon.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
assets:
  - icon/app_icon.png
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
